<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
                    <i class="fab fa-asymmetrik"></i> Yusuf Mert AKPINAR
                </a>
            </h1>
            <!-- if logo is image enable this
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto align-items-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Default/Index/">Ana Sayfa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About/Index/">Hakkımda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/MyProject/Index/">Hizmetlerim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Contact/SendMessage/">Bana Ulaşın</a>
                    </li>
                  </ul>
            </div>

            <!-- search -->
            <ul class="cd-header-buttons px-lg-2">
                <li>
                    <a class="cd-search-trigger" href="#cd-search">
                        <span></span>
                    </a>
                </li>
            </ul>
            <div id="cd-search" class="cd-search">
                <form action="#url" method="post">
                    <input name="Search" type="search" placeholder="Aranacak kelimeyi yazın...">
                </form>
            </div>
            <!-- //search -->
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
