<section class="w3l-brands py-md-5 py-4">
    <div class="container py-lg-2">
        <div class="align-items-center">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item">
                    <img src="~/Content/starter/assets/images/logo1.png" class="img-fluid" alt="Brand">
                </div>
                <div class="item">
                    <img src="~/Content/starter/assets/images/logo2.png" class="img-fluid" alt="Brand">
                </div>

                <div class="item">
                    <img src="~/Content/starter/assets/images/logo3.png" class="img-fluid" alt="Brand">
                </div>

                <div class="item">
                    <img src="~/Content/starter/assets/images/logo4.png" class="img-fluid" alt="Brand">
                </div>

                <div class="item">
                    <img src="~/Content/starter/assets/images/logo5.png" class="img-fluid" alt="Brand">
                </div>

                <div class="item">
                    <img src="~/Content/starter/assets/images/logo1.png" class="img-fluid" alt="Brand">
                </div>
                <div class="item">
                    <img src="~/Content/starter/assets/images/logo2.png" class="img-fluid" alt="Brand">
                </div>

                <div class="item">
                    <img src="~/Content/starter/assets/images/logo3.png" class="img-fluid" alt="Brand">
                </div>

                <div class="item">
                    <img src="~/Content/starter/assets/images/logo4.png" class="img-fluid" alt="Brand">
                </div>
            </div>
        </div>
    </div>
</section>
