@using ResumeProject.Models
@model List<tblService>

<section class="about-section py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4">
            <h3 class="w3l-title-main">Sizin İçin Yapabileceklerim</h3>
        </div>
        <div class="row justify-content-center">
            @foreach (var x in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="about-single">
                        <div class="about-icon mb-4">
                            <i class="@x.ServiceIcon"></i>
                        </div>
                        <div class="about-content">
                            <h5 class="mb-3"><a href="#url">@x.ServiceTitle</a></h5>
                            <p>
                                @x.ServiceDescription
                            </p>
                        </div>
                    </div>
                </div>

            }
        </div>

        <div class="w3l-btn text-center">
            <a href="services.html" class="btn btn-border mt-lg-5 mt-4 me-2">
                Daha Fazla Hizmet <span class="fas fa-long-arrow-alt-right"></span>
            </a>
        </div>
    </div>
</section>
}
