
<section class="w3l-stats-section py-5" id="stats">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="w3l-stats-inner-inf py-lg-4">
            <div class="row stats-con text-center">
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <p class="counter">@ViewBag.skillcount </p>
                    <h3>Yetenek Sayısı</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <p class="counter">@ViewBag.servicecount </p>
                    <h3>Hizmet Sayısı</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-sm-5 mt-5">
                    <p class="counter">@ViewBag.avgtechvalue </p>
                    <h3>Ortalama Puan</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-sm-5 mt-5">
                    <p class="counter"> @ViewBag.happycustomer </p>
                    <h3>Memnun Müşteriler</h3>
                </div>

            </div>
        </div>
    </div>
</section>

