<section id="home" class="w3l-banner pt-5">
    <div class="container pt-lg-5 pt-md-4">
        <div class="row pt-lg-5 pt-4">
            <div class="col-lg-7 banner-info-grid pt-lg-0 pt-5">
                <h1 class="mb-3">Merhaba, Ben Yusuf Mert AKPINAR</h1>
                <h3 class="mb-4"> <span class="typed-text"></span><span class="cursor">&nbsp</span> </h3>
                <p>
                    Yaklaşık bir yıldan fazla web alanında çalışıyorum. Şuan kendimi .net ve C# alanlarında kendimi geliştiriyorum.
                </p>
                <a class="btn btn-primary btn-style mt-5 me-2" href="/Contact/SendMessage/"> Bana Ulaşın </a>
                <a class="btn btn-style transparent-btn mt-5" href="/MyProject/Index/"> Projelerim </a>

            </div>
            <div class="col-lg-5 text-lg-end my-image mt-lg-0 mt-4">
                <img src="~/Content/starter/assets/images/banner.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>