@using ResumeProject.Models
@model List<tblContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Gelen Mesajlar</h2>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Mesajı Aç</th>
    </tr>
    @foreach (var item in Model)   
     {
        <tr>
            <td>@item.ContactID</td>
            <td>@item.NameSurname</td>
            <td>@item.tblCategory.CategoryName</td>
            <td>@item.Date</td>
            <td><a href="/Contact/DeleteContact/@item.ContactID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Contact/UpdateContact/@item.ContactID" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="/Category/GetMessageBySubject/@item.ContactID" class="btn btn-outline-primary">Mesajı Aç</a></td>

        </tr>
    }


</table>