@model ResumeProject.Models.tblCategory

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Ekleme Sayfası</h2>

<form method="post">
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>