@model ResumeProject.Models.tblCategory

@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Kategori Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.CategoryID)
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>