@model ResumeProject.Models.tblService
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Yeni Hizmet Ekleme Sayfası</h2>
<form method="post">

    <label>Hizmet Başlığı</label>
    @Html.TextBoxFor(x => x.ServiceTitle, new { @class = "form-control" })
    <br />
    <label>Hizmet Açıklaması</label>
    @Html.TextBoxFor(x => x.ServiceDescription, new { @class = "form-control" })
    <br />
    <label>Hizmet İkonu</label>
    @Html.TextBoxFor(x => x.ServiceIcon, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Hizmeti Kaydet</button>
</form>

