
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetenek Ekleme Sayfası</h2>

<form method="post">

    <label>Yetenek Başlığı</label>
    <input type="text" class="form-control" name="SkillTitle" />
    <br />
    <label>Yetenek Icon</label>
    <input type="text" class="form-control" name="Skillicon" />
    <br />
    <label>Yetenek Açıklaması</label>
    <input type="text" class="form-control" name="SkillDescription" />
    <br />
    <button class="btn btn-primary">Yeteneği Kaydet</button>
</form>

