@model ResumeProject.Models.tblSkill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetenek Güncelleme Sayfası</h2>

<form method="post">

    <label> Yetenek ID</label>
    @Html.TextBoxFor(x => x.SkillID, new { @class = "form-control" })
    <br />
    <label> Yetenek Başlığı</label>
    @Html.TextBoxFor(x => x.SkillTitle, new { @class = "form-control" })
    <br />
    <label> Yetenek Iconu</label>
    @Html.TextBoxFor(x => x.SkillIcon, new { @class = "form-control" })
    <br />
    <label> Yetenek Açıklaması</label>
    @Html.TextBoxFor(x => x.SkillDescription, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Verileri Güncelle</button>
</form>