@model ResumeProject.Models.tblTechnology
@{
    ViewBag.Title = "AddTechnology";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Teknoloji Ekleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.TechnologyID)
    <label> Tecnology Adı</label>
    @Html.TextBoxFor(x => x.TechnologyTitle, new { @class = "form-control" })
    <br />
    <label> Tecnology Değeri</label>
    @Html.TextBoxFor(x => x.TechnologyValue, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Verileri Kaydet</button>
</form>