    <section class="pt-5" id="about1">
        <div class="container pt-lg-0 pt-md-4 pt-2">
            <div class="row align-items-center">
                <div class="col-lg-7 pe-lg-5 align-items-center">
                    <div class="row two-grids">
                        <div class="col-sm-6 grids_info d-flex">
                            <i class="fab fa-wordpress-simple"></i>
                            <div class="detail ms-3">
                                <h4 class="w3l-subtitle">Web Developer</h4>
                                <p>
                                    Lorem ipsum viverra libero set. Pellen ut justo, in ligula at.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 grids_info d-flex mt-sm-0 mt-4">
                            <i class="fab fa-css3-alt"></i>
                            <div class="detail ms-3">
                                <h4 class="w3l-subtitle">Design Patterns</h4>
                                <p>
                                    Lorem ipsum viverra libero set. Pellen ut justo, in ligula at.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                            <i class="fas fa-chart-line"></i>
                            <div class="detail ms-3">
                                <h4 class="w3l-subtitle">Proje Analizi</h4>
                                <p>
                                    Lorem ipsum viverra libero set. Pellen ut justo, in ligula at.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                            <i class="fas fa-headset"></i>
                            <div class="detail ms-3">
                                <h4 class="w3l-subtitle">C# Developer</h4>
                                <p>
                                    Lorem ipsum viverra libero set. Pellen ut justo, in ligula at.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                            <i class="fas fa-mobile-alt"></i>
                            <div class="detail ms-3">
                                <h4 class="w3l-subtitle">Responsive design</h4>
                                <p>
                                    Lorem ipsum viverra libero set. Pellen ut justo, in ligula at.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                            <i class="fas fa-layer-group"></i>
                            <div class="detail ms-3">
                                <h4 class="w3l-subtitle"></h4>
                                <p>
                                    Lorem ipsum viverra libero set. Pellen ut justo, in ligula at.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 ps-lg-5 my-image mt-lg-0 mt-4">
                    <img src="~/Content/Starter/assets/images/banner.png" alt="" class="img-fluid">
                </div>

            </div>
        </div>
    </section>
