<section class="w3l-join py-5" id="join">
    <div class="container py-md-5 py-3">
        <div class="row">
            <div class="col-lg-7 video-info pe-lg-5">
                <div class="title-content">
                    <h6 class="w3l-title-small two">Benimle iletişime geçin</h6>
                    <h3 class="w3l-title-main two mb-3">Sizinle birlikte çalışmaya hazırım. Bana ulaşın.</h3>
                    <p class="pe-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo. Semper at tempufddfel. Lorem ipsum dolor sit, amet consectetur elit.</p>

                </div>
            </div>
            <div class="col-lg-5 history-info align-self">
                <div class="w3banner-content-btns d-sm-flex justify-content-lg-end">
                    <a href="contact.html" class="btn btn-style btn-primary mt-lg-5 mt-4 me-sm-3">Bana Ulaşın</a>                    
                </div>
            </div>
        </div>
    </div>
</section>
